@model cm.Models.Todo

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TodoId" />
            <div class="form-group">
                <label asp-for="TodoName" class="control-label"></label>
                <input asp-for="TodoName" class="form-control" />
                <span asp-validation-for="TodoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoCompleteDate" class="control-label"></label>
                <input asp-for="TodoCompleteDate" class="form-control" />
                <span asp-validation-for="TodoCompleteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateById" class="control-label"></label>
                <select asp-for="CreateById" class="form-control" asp-items="ViewBag.CreateById"></select>
                <span asp-validation-for="CreateById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
